<div class="content-header">

  <div class="left-section">
    <i class="fas fa-info-circle"></i>
    <span class="progress-text">0%</span>
    <div class="progress-bar-container">
      <div class="progress-bar"></div>
    </div>
  </div>

  <div class="right-section">

    <div class="additional-info">
      <span class="course-name">اللغة العربية</span>
      <span class="semester">الفصل الدراسي الأول</span>
      <img src="assets/images/ex.png" alt="Emoji" class="emoji-icon">
    </div>
  </div>
</div>
