<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>
  <router-outlet></router-outlet>
    <app-header></app-header>
    <app-view-switcher></app-view-switcher>
    <div class="icon-navigation">
      <nav>
          <a routerLink="" >

              <img src="assets/images/alll.jpg" alt="Icon 1"><br>
              <p>الكل</p>
          </a>
          <a routerLink="/page2">
              <img src="assets/images/bookk.png" alt="Icon 2" (click)="update('كتاب تفاعلي')">
            <p>كتاب تفاعلي</p>
          </a>
          <a routerLink="/page3" >
              <img src="assets/images/ex.png" alt="Icon 3" (click)="update('تدريبات')">
              <p>تدريبات</p>
          </a>
      </nav>
  </div>

  <!-- <div class="profile">
    <img src="assets/images/sela7eltmez.png" alt="Profile Picture" class="profile-img">
    <div>
        <div>الفصل الدراسي الأول</div>
        <div>اللغة العربية</div>
    </div>
</div> -->
    <div class="container">



        <div class="dropdown">▼</div>
        <div class="text">"نص الاستماع "كن ولا تكن</div>




    </div>




    <div class="content-wrapper">
        <div class="app-container">
            <app-main-content></app-main-content>
            <app-sidebar></app-sidebar>
        </div>
    </div>
</body>



