<aside class="sidebar">
  <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <div class="profile">
    <div class="profile-header">
      <i class="fas fa-chevron-right toggle-icon"></i>
      <img src="assets/images/picon.png" alt="Profile Picture" class="profile-img">
      <div class="profile-info">
        <p class="profile-name">Salma<br><label>الصف السادس الابتدائي</label></p>

      </div>
    </div>
  </div>


  <ul class="nav-menu">
    <li><a href="#"><i class="fas fa-home"></i>الرئيسية</a></li>
<li><a href="#"> <i class="fas fa-book"></i>قائمة الدروس</a></li>
<li><a href="#"><i class="fas fa-bell"></i>الاشعارات</a></li>
<li><a href="#"><i class="fas fa-gift"></i>الهدايا</a></li>
<li><a href="#"><i class="fas fa-gamepad"></i>ارض الالعاب</a></li>
<li><a href="#"><i class="fas fa-chart-bar"></i>الاحصائيات</a></li>
<li><a href="#"><i class="fas fa-comments"></i>المحادثات</a></li>
<li><a href="#"><i class="fas fa-box"></i>مكتبة العناصر</a></li>

  </ul>

  <div class="sidebar-buttons">

    <button class="subscribe-btn">اشترك الآن</button>
  <button class="contact-btn" routerLink="/contact-us">تواصل معنا</button>
  <div class="language-buttons">
    <button class="active">ar</button>
    <button>en</button>
  </div>
</div>
</aside>
