
.page-container {

  width: 100%;
max-width: 1200px;
padding: 20px;
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*
.content {
  padding: 150px;


}


.lesson-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.lesson-image, .header-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.lesson-header {
  margin-bottom: 20px;
}
*/
